### Importing Library

In [1]:
import pandas as pd
from sklearn import naive_bayes
from sklearn.metrics import roc_auc_score

#### Reading training data

In [2]:
df1_train= pd.read_csv("D:/Data Science/Machine Learning Track/Naive_Bayes/trainNaive.csv")

In [3]:
df1_train.head()

   Id  feat1  feat2  feat3  feat4  feat5  feat6  feat7  feat8  feat9  feat10
0   1      0      1      1      1      0      0      0      1      1       1
1   2      1      0      0      1      1      1      1      1      0       0
2   3      1      0      0      0      1      1      1      0      1       0
3   4      1      1      1      1      0      1      0      1      1       0
4   5      0      0      0      0      1      1      0      1      0       0

In [4]:
df2_train= pd.read_csv("D:/Data Science/Machine Learning Track/Naive_Bayes/trainNaiveLabels.csv")

In [5]:
df2_train.head()

   Id  label1
0   1       0
1   2       1
2   3       1
3   4       1
4   5       0

#### Merging training data with labels

In [6]:
df_train = pd.merge(df1_train,df2_train, on = 'Id')

In [7]:
df_train.head()

,Id,feat1,feat2,feat3,feat4,feat5,feat6,feat7,feat8,feat9,feat10,label1
0,1,0,1,1,1,0,0,0,1,1,1,0
1,2,1,0,0,1,1,1,1,1,0,0,1
2,3,1,0,0,0,1,1,1,0,1,0,1
3,4,1,1,1,1,0,1,0,1,1,0,1
4,5,0,0,0,0,1,1,0,1,0,0,0

In [20]:
df_train.shape

(2000, 12)

#### Creating independent training variable

In [8]:
x_train = df_train.iloc[:, 1: -1]

In [9]:
x_train.head()

   feat1  feat2  feat3  feat4  feat5  feat6  feat7  feat8  feat9  feat10
0      0      1      1      1      0      0      0      1      1       1
1      1      0      0      1      1      1      1      1      0       0
2      1      0      0      0      1      1      1      0      1       0
3      1      1      1      1      0      1      0      1      1       0
4      0      0      0      0      1      1      0      1      0       0

In [21]:
x_train.shape

(2000, 10)

#### Creating dependent training variable

In [18]:
y_train = df_train.iloc[:, 11:12]

In [19]:
y_train.head()

   label1
0       0
1       1
2       1
3       1
4       0

In [22]:
y_train.shape

(2000, 1)

#### Reading test data

In [25]:
df1_test= pd.read_csv("D:/Data Science/Machine Learning Track/Naive_Bayes/testNaive.csv")

In [26]:
df1_test.head()

   Id  feat1  feat2  feat3  feat4  feat5  feat6  feat7  feat8  feat9  feat10
0   1      0      1      1      1      1      0      1      1      1       0
1   2      1      0      1      0      1      0      1      0      0       0
2   3      1      1      0      1      1      0      1      0      1       1
3   4      1      0      0      0      0      1      0      0      0       0
4   5      1      1      1      1      0      1      1      1      1       0

In [28]:
x_test = df1_test.iloc[:, 1:]

In [29]:
x_test.head()

   feat1  feat2  feat3  feat4  feat5  feat6  feat7  feat8  feat9  feat10
0      0      1      1      1      1      0      1      1      1       0
1      1      0      1      0      1      0      1      0      0       0
2      1      1      0      1      1      0      1      0      1       1
3      1      0      0      0      0      1      0      0      0       0
4      1      1      1      1      0      1      1      1      1       0

### Applying Naive Bayes classifier

#### Applying multinomialNB

In [33]:
clf_m = naive_bayes.MultinomialNB()
clf_m.fit(x_train, y_train)

C:\Users\Hara\Anaconda3\lib\site-packages\sklearn\utils\validation.py:547: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [34]:
clf_m.predict_proba(x_train)[:,1]

array([0.5916279 , 0.59220031, 0.80870925, ..., 0.71685392, 0.75283047,
       0.58649915])

In [40]:
##Check model's accuracy on training data
roc_auc_score(y_train, clf_m.predict_proba(x_train)[:,1])

0.8042169288681322

#### Applying gaussianNB

In [37]:
clf_g = naive_bayes.GaussianNB()
clf_g.fit(x_train, y_train)

C:\Users\Hara\Anaconda3\lib\site-packages\sklearn\utils\validation.py:547: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None)

In [38]:
clf_g.predict_proba(x_train)[:,1]

array([0.42438746, 0.41397276, 0.95023033, ..., 0.88378343, 0.92645626,
       0.38163234])

In [39]:
##Check model's accuracy on training data
roc_auc_score(y_train, clf_g.predict_proba(x_train)[:,1])

0.8042169288681322

#### Applying bernouliNB

In [42]:
clf_b = naive_bayes.BernoulliNB()
clf_b.fit(x_train, y_train)

C:\Users\Hara\Anaconda3\lib\site-packages\sklearn\utils\validation.py:547: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [43]:
clf_b.predict_proba(x_train)[:,1]

array([0.46986463, 0.4564187 , 0.92061177, ..., 0.82322692, 0.88620322,
       0.42355711])

In [44]:
##Check model's accuracy on training data
roc_auc_score(y_train, clf_b.predict_proba(x_train)[:,1])

0.8042848762677852

#### Predicting y_test by applying BernouliNB

In [53]:
y_pred = clf_m.predict(x_test)

In [54]:
submit = df1_test['Id']

In [55]:
preds = pd.Series(y_pred)
submit = pd.concat([submit, preds], names=['Id', 'label1'], axis=1)
submit.columns = ['Id', 'label1']

In [56]:
submit.to_csv('D:/Data Science/Machine Learning Track/Naive_Bayes/naivesolutionLabels.csv', index=False)